@font-face {
  font-family: "iconfont";
  src: url("../iconos/iconfont.woff2") format("woff2"), url("../iconos/iconfont.woff") format("woff");
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "iconfont";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
.icon-angle-right-light:before {
  content: "\ea01";
}

.icon-book-alt:before {
  content: "\ea02";
}

.icon-file-alt:before {
  content: "\ea03";
}

.icon-file-archive:before {
  content: "\ea04";
}

.icon-file-chart-line:before {
  content: "\ea05";
}

.icon-file-chart-pie:before {
  content: "\ea06";
}

.icon-file-contract:before {
  content: "\ea07";
}

.icon-file-download:before {
  content: "\ea08";
}

.icon-file-edit:before {
  content: "\ea09";
}

.icon-file-excel:before {
  content: "\ea0a";
}

.icon-file-image:before {
  content: "\ea0b";
}

.icon-file-invoice-dollar:before {
  content: "\ea0c";
}

.icon-file-invoice:before {
  content: "\ea0d";
}

.icon-file-medical:before {
  content: "\ea0e";
}

.icon-file-minus:before {
  content: "\ea0f";
}

.icon-file-plus:before {
  content: "\ea10";
}

.icon-file-spreadsheet:before {
  content: "\ea11";
}

.icon-file-user:before {
  content: "\ea12";
}

.icon-file:before {
  content: "\ea13";
}

.icon-fondo-sidebar-left:before {
  content: "\ea14";
}

.icon-icon-separador:before {
  content: "\ea15";
}

.icon-leaf:before {
  content: "\ea16";
}

.icon-logo_sygris_blanco:before {
  content: "\ea17";
}

.icon-power-off-light:before {
  content: "\ea18";
}

.icon-question-circle-light:before {
  content: "\ea19";
}

.icon-user-light:before {
  content: "\ea1a";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: "header header" "aside main";
}

.header {
  grid-area: header;
  padding: 0.625rem 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db1a00;
}
.header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 1.625rem;
  line-height: 0;
  color: #fff;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__info__usuario {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}
.header__info__usuario__avatar {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}
.header__info__usuario__nombre {
  color: #fff;
}
.header__info__aplicacion {
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #fff;
}
.header__info__power {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
  color: #fff;
}
.header__info__power i {
  line-height: 0;
  cursor: pointer;
}
.header .separador {
  margin-left: 1.25rem;
  width: 0.125rem;
  height: 1.625rem;
  background-color: #fff;
}

.aside {
  grid-area: aside;
  min-height: 92vh;
  padding-top: 6.25rem;
  background-color: #ff3a1e;
  background-image: url("../img/fondo-aside.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.aside__leyenda {
  padding-left: 1.5rem;
  margin-bottom: 5rem;
  color: #fff;
}
.aside__leyenda__texto--secundario {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.aside__leyenda__texto--principal {
  font-size: 1.75rem;
}
.aside__nav__list {
  list-style: none;
}
.aside__nav__list__item {
  padding: 1rem 0 1rem 1.5rem;
  font-size: 0.9375rem;
  transition: all 0.3s ease-in-out;
}
.aside__nav__list__item:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.aside__nav__list__item:hover, .aside__nav__list__item.active {
  background-color: rgba(255, 255, 255, 0.25);
  border-left: 0.5rem solid #fff;
  font-size: 1.125rem;
}
.aside__nav__list__item a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.main {
  grid-area: main;
  background-color: #f6f6f9;
}
.main__cabecera-navegacion {
  margin-bottom: 0.0625rem;
  padding-top: 1rem;
  padding-left: 1.25rem;
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 1px #ccc;
}
.main__cabecera-navegacion__lista {
  list-style: none;
  display: flex;
}
.main__cabecera-navegacion__lista__item {
  padding-bottom: 0.625rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.main__cabecera-navegacion__lista__item:not(:last-child) {
  margin-right: 1.875rem;
}
.main__cabecera-navegacion__lista__item:hover, .main__cabecera-navegacion__lista__item.active {
  border-bottom-color: #db1a00;
}
.main__cabecera-navegacion__lista__item a {
  text-decoration: none;
}
.main__cabecera-navegacion__lista__item a div {
  min-width: 15.625rem;
  min-height: 6.25rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  color: #333;
  background-color: #f6f6f9;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.main__cabecera-navegacion__lista__item a div:hover {
  background-color: #ff3a1e;
  color: #fff;
}
.main__cabecera-navegacion__lista__item a div.active {
  background-color: #ff3a1e;
  color: #fff;
}
.main__cabecera-navegacion__lista__item a div i {
  margin-right: 1rem;
  line-height: 0;
  font-size: 1.875rem;
}
.main__cabecera-navegacion__lista__item a div span {
  font-size: 1.25rem;
}
.main__wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.main__main {
  padding: 1.5rem 1.25rem 12.5rem 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.main__main__item__wrapper {
  padding: 1.875rem 1.5rem;
  background-color: #fff;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main__main__item__wrapper:hover {
  border-bottom-color: #db1a00;
}
.main__main__item__cabecera {
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
}
.main__main__item__cabecera i {
  padding: 0.625rem 1rem;
  margin-right: 1rem;
  line-height: O;
  background-color: #ff3a1e;
  color: #fff;
  border-radius: 5px;
  font-size: 1.875rem;
}
.main__main__item__cabecera span {
  font-size: 1.25rem;
  font-weight: bold;
}
.main__main__item__texto {
  font-size: 0.875rem;
  line-height: 1.5;
}
.main__main__item__panel {
  padding: 1.875rem 1.5rem;
  background-color: #fff;
  border-top: 2px solid #ccc;
  border-radius: 0 0 4px 4px;
}
.main__main__item__panel p {
  font-size: 0.875rem;
}
.main__main__item__panel p:not(:last-child) {
  margin-bottom: 1.25rem;
}
.main__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 3.125rem 1rem;
  background-color: #fff;
}
.main__sidebar__opciones__trigger {
  margin-bottom: 1.25rem;
  padding: 1.125rem;
  width: 100%;
  background-color: #f6f6f9;
  border-left: 3px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.main__sidebar__opciones__trigger i {
  margin-right: 0.625rem;
  line-height: 0;
  font-size: 1.25rem;
}
.main__sidebar__opciones__trigger span {
  font-size: 0.8125rem;
  font-weight: bold;
}
.main__sidebar__opciones__trigger.abrir {
  border-left-color: #ff3a1e;
  margin-bottom: 0;
}
.main__sidebar__opciones__trigger::after {
  font-family: "iconfont";
  font-size: 1.25rem;
  content: "\ea01";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 0.3125rem;
}
.main__sidebar__opciones__panel {
  margin-top: rem 10px;
  margin-bottom: 1.25rem;
  padding: 0px 1rem 0 1.5625rem;
  background-color: #f6f6f9;
  max-height: 0;
  overflow: hidden;
  border-radius: 4px;
  transition: max-height 0.4s ease-in-out;
}
.main__sidebar__opciones__panel__fila {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__sidebar__opciones__panel__fila .etiqueta {
  font-size: 0.8125rem;
}
.main__sidebar__opciones__panel__fila .numero {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #db1a00;
  color: #fff;
}
.main .soporte {
  padding: 0.625rem 1.5rem;
  color: #fff;
  background-color: #358fd4;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.main .soporte i {
  margin-right: 0.375rem;
  line-height: 0;
  font-size: 1.25rem;
}
.main .soporte span {
  font-size: 0.75rem;
  font-weight: bold;
}

.abrir:after {
  transition: 0.5s;
  transform: rotate(90deg);
}

/*# sourceMappingURL=estilos.css.map */
