@import 'iconos';

$fuente-principal: Helvetica,
'Helvetica Neue',
Arial,
sans-serif;
$color-blanco: #fff;
$color-negro: #333;
$color-header: #db1a00;
$color-aside: #ff3a1e;
$color-background-main: #f6f6f9;
$color-gris-main-nav: $color-background-main;
$color-boton: #358fd4;

@function rem($elemento, $fuente-size-base: 16px) {
    $PxToRem: calc($elemento / $fuente-size-base) * 1rem;
    @return $PxToRem;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    font-family: $fuente-principal;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "aside main"
    ;
}

.header {
    grid-area: header;
    padding: rem(10px) rem(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-header;

    &__logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: rem(26px);
        line-height: 0;
        color: $color-blanco;
    }

    &__info {
        display: flex;
        align-items: center;

        &__usuario {
            display: flex;
            align-items: center;
            font-size: rem(14px);

            &__avatar {
                width: rem(36px);
                height: rem(36px);
                margin-right: rem(16px);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $color-blanco;
            }

            &__nombre {
                color: $color-blanco;
            }
        }

        &__aplicacion {
            margin-left: rem(20px);
            display: flex;
            align-items: center;
            font-size: rem(14px);
            color: $color-blanco;
        }

        &__power {
            display: flex;
            align-items: center;
            margin-left: rem(20px);
            color: $color-blanco;

            i {
                line-height: 0;
                cursor: pointer;
            }
        }
    }

    .separador {
        margin-left: rem(20px);
        width: rem(2px);
        height: rem(26px);
        background-color: $color-blanco;
    }
}

.aside {
    grid-area: aside;
    min-height: 92vh;
    padding-top: rem(100px);
    background-color: $color-aside;
    background-image: url('../img/fondo-aside.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    &__leyenda {
        padding-left: rem(24px);
        margin-bottom: rem(80px);
        color: $color-blanco;

        &__texto {
            &--secundario {
                font-size: rem(20px);
                margin-bottom: rem(24px);
            }

            &--principal {
                font-size: rem(28px);
            }
        }
    }

    &__nav {
        &__list {
            list-style: none;

            &__item {
                padding: rem(16px) 0 rem(16px) rem(24px);
                font-size: rem(15px);
                transition: all .3s ease-in-out;

                &:not(:last-child) {
                    margin-bottom: rem(5px);
                }

                &:hover,
                &.active {
                    background-color: rgba($color-blanco, .25);
                    border-left: rem(8px)solid $color-blanco;
                    font-size: rem(18px);
                }

                a {
                    display: block;
                    color: $color-blanco;
                    text-decoration: none;
                }
            }
        }
    }
}

.main {
    grid-area: main;
    background-color: $color-background-main;

    &__cabecera-navegacion {
        margin-bottom: rem(1px);
        padding-top: rem(16px);
        padding-left: rem(20px);
        display: flex;
        background-color: $color-blanco;
        box-shadow: 0 1px 1px#ccc;

        &__lista {
            list-style: none;
            display: flex;

            &__item {
                padding-bottom: rem(10px);
                border-bottom: 2px solid transparent;
                transition: all .3s ease-in-out;

                &:not(:last-child) {
                    margin-right: rem(30px);
                }

                &:hover,
                &.active {
                    border-bottom-color: $color-header;
                }

                a {
                    text-decoration: none;

                    div {
                        min-width: rem(250px);
                        min-height: rem(100px);
                        padding-left: rem(20px);
                        display: flex;
                        align-items: center;
                        color: $color-negro;
                        background-color: $color-gris-main-nav;
                        border-radius: 5px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: $color-aside;
                            color: $color-blanco;
                        }

                        &.active {
                            background-color: $color-aside;
                            color: $color-blanco;
                        }

                        i {
                            margin-right: rem(16px);
                            line-height: 0;
                            font-size: rem(30px);
                        }

                        span {
                            font-size: rem(20px);
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    &__main {
        padding: rem(24px) rem(20px) rem(200px) rem(20px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(24px);

        &__item {
            &__wrapper {
                padding: rem(30px) rem(24px);
                background-color: $color-blanco;
                border-bottom: 2px solid transparent;
                border-radius: 5px;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    border-bottom-color: $color-header;
                }
            }

            &__cabecera {
                display: flex;
                align-items: center;
                margin-bottom: rem(30px);

                i {
                    padding: rem(10px) rem(16px);
                    margin-right: rem(16px);
                    line-height: O;
                    background-color: $color-aside;
                    color: $color-blanco;
                    border-radius: 5px;
                    font-size: rem(30px);
                }

                span {
                    font-size: rem(20px);
                    font-weight: bold;
                }
            }

            &__texto {
                font-size: rem(14px);
                line-height: 1.5;
            }

            &__panel {
                padding: rem(30px) rem(24px);
                background-color: $color-blanco;
                border-top: 2px solid #ccc;
                border-radius: 0 0 4px 4px;

                p {
                    font-size: rem(14px);

                    &:not(:last-child) {
                        margin-bottom: rem(20px);
                    }
                }
            }
        }
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: rem(16px) rem(16px) rem(50px) rem(16px);
        background-color: $color-blanco;

        &__opciones {
            &__trigger {
                margin-bottom: rem(20px);
                padding: rem(18px);
                width: 100%;
                background-color: $color-gris-main-nav;
                border-left: 3px solid transparent;
                border-radius: 3px;
                cursor: pointer;

                i {
                    margin-right: rem(10px);
                    line-height: 0;
                    font-size: rem(20px);
                }

                span {
                    font-size: rem(13px);
                    font-weight: bold;
                }

                &.abrir {
                    border-left-color: $color-aside;
                    margin-bottom: 0;
                }

                &::after {
                    font-family: 'iconfont';
                    font-size: rem(20px);
                    content: '\ea01';
                    color: #777;
                    font-weight: bold;
                    float: right;
                    margin-left: rem(5px);
                }

            }

            &__panel {
                margin-top: rem (10px);
                margin-bottom: rem(20px);
                padding: 0px rem(16px) 0 rem(25px);
                background-color: $color-gris-main-nav;
                max-height: 0;
                overflow: hidden;
                border-radius: 4px;
                transition: max-height 0.4s ease-in-out;

                &__fila {
                    margin-top: rem(32px);
                    margin-bottom: rem(32px);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .etiqueta {
                        font-size: rem(13px);
                    }

                    .numero {
                        width: rem(20px);
                        height: rem(20px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        font-size: rem(12px);
                        font-weight: bold;
                        background-color: $color-header;
                        color: $color-blanco;
                    }
                }
            }
        }
    }

    .soporte {
        padding: rem(10px) rem(24px);
        color: $color-blanco;
        background-color: $color-boton;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        i {
            margin-right: rem(6px);
            line-height: 0;
            font-size: rem(20px);
        }

        span {
            font-size: rem(12px);
            font-weight: bold;
        }
    }
}

.abrir:after {
    transition: 0.5s;
    transform: rotate(90deg);
}