@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2') format('woff2'),
    url('iconfont.woff') format('woff');
}

[class^='icon-']:before,
[class*=' icon-']:before {
 font-family: 'iconfont';
 display: inline-block;
 vertical-align: middle;
 line-height: 1;
 font-weight: normal;
 font-style: normal;
 speak: none;
 text-decoration: inherit;
 font-size: inherit;
 text-transform: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-angle-right-light:before {
 content: '\ea01';
}

.icon-book-alt:before {
 content: '\ea02';
}

.icon-file-alt:before {
 content: '\ea03';
}

.icon-file-archive:before {
 content: '\ea04';
}

.icon-file-chart-line:before {
 content: '\ea05';
}

.icon-file-chart-pie:before {
 content: '\ea06';
}

.icon-file-contract:before {
 content: '\ea07';
}

.icon-file-download:before {
 content: '\ea08';
}

.icon-file-edit:before {
 content: '\ea09';
}

.icon-file-excel:before {
 content: '\ea0a';
}

.icon-file-image:before {
 content: '\ea0b';
}

.icon-file-invoice-dollar:before {
 content: '\ea0c';
}

.icon-file-invoice:before {
 content: '\ea0d';
}

.icon-file-medical:before {
 content: '\ea0e';
}

.icon-file-minus:before {
 content: '\ea0f';
}

.icon-file-plus:before {
 content: '\ea10';
}

.icon-file-spreadsheet:before {
 content: '\ea11';
}

.icon-file-user:before {
 content: '\ea12';
}

.icon-file:before {
 content: '\ea13';
}

.icon-fondo-sidebar-left:before {
 content: '\ea14';
}

.icon-icon-separador:before {
 content: '\ea15';
}

.icon-leaf:before {
 content: '\ea16';
}

.icon-logo_sygris_blanco:before {
 content: '\ea17';
}

.icon-power-off-light:before {
 content: '\ea18';
}

.icon-question-circle-light:before {
 content: '\ea19';
}

.icon-user-light:before {
 content: '\ea1a';
}
